

:root {
    --clr-1: #0293D2;
    --clr-2: #073438;
    --clr-3: #20EF0E;
    --clr-4: #1ED60D;
    --clr-5: #23FC0F;
}


header {
    background-color: black;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 4rem 0;
    color: white;
}

.headerTitle, .headerLogout {
    
    display: flex;
    justify-content: flex-start;
    font-family: 'Anonymous Pro', monospace,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
}

main {
    background-image: url('background.jpg');
    height: 100vh;
    /* min-width: 100vw; */
    display: grid;
    place-content: center;
}

.card {
    aspect-ratio: 1 / 1.5;
    background: var(--clr-1);
    border-radius: 0.5rem;
    border: 7px white inset;

    position: relative;

    display: grid;
    text-align: center;
    align-items: center;
    font-family: 'Anonymous Pro', monospace,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding: 2rem 2rem 0 2rem;
}

.mensaje, .buttons, .newMessage {

display: grid;
justify-items: center;
font-family: 'Roboto Mono', monospace;
font-size: 1.2rem;

}


#offset, #Message {
    width: 175px;
    height: 20px;
    text-align: center;
}

#encodeButton,#decodeButton {
    font-size: 1.1rem;
    width: 55%;
    height: 30px;
    background-color: #51a9ece8;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid white;
    font-family: 'Roboto Mono', monospace, Courier New;
}  

#encodeButton:hover,
#decodeButton:hover {
    background-color: #004461;
    color: white;
    border: 2px solid white;
}

#mensajeCifrado {
    background-color: #0293D2;
    border: none;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 1.2rem; 
}